* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", serif;
  font-style: normal;
}

:root {
  --gray: #7a7a7a;
}

/* Header section */

header {
  padding: 35px 130px;
  background-color: white;
}

.logo {
  width: 200px;
  height: 27px;
}

/* Olive Langer Image */

.hero_img {
  width: 98.7vw;
  height: auto; /* Default height */
  object-fit: cover;
  object-position: center; /* Centers image */
  display: block;
}

section {
  padding: 31px 131px;
}

/* Portfolio div */
.portfolio_div {
  display: flex;
}
.portfolio_title_div {
  width: 50%;
}
.section_heading {
  letter-spacing: 0.16em;
  font-weight: 400;
  font-size: 28px;
}
.portfolio_para_div {
  width: 50%;
  padding: 0px 17px 17px 17px;
}
.portfolio_para_div p {
  margin-bottom: 20px;
  color: var(--gray);
  font-size: 15px;
  background-color: white;
}
.icons_div {
  display: flex;
}
.icons {
  border: 2px solid var(--gray);
  border-radius: 80%;
  margin: 5px;
  padding: 8px;
  display: flex;
  width: 16px;
  height: 16px;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.icons img {
  color: white;
}
.icons:hover {
  background-color: black;
}
.icons img:hover {
  filter: invert(1);
}
.work_sample_heading {
  padding: 20px 0px;
}
.lutfana_img img {
  width: 100%;
}
.section_detail {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section_detail_title_para {
  width: 55%;
}
.section_detail_title_para a {
  text-decoration: none;
}
.section_detail_title_para h3 {
  font-size: 18px;
  font-weight: 500;
  padding: 10px 0px;
  color: black;
}
.section_detail_title_para h3:hover {
  color: red;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}
.section_detail_title_para h3:visited {
  color: black;
}
.section_detail_title_para p {
  font-size: 16px;
  color: var(--gray);
  letter-spacing: 0.035em;
}
.blogs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 28px;
  padding: 20px;
}
.blog_post img {
  width: 100%;
  height: 146px;
}
.blog_post_text h3 {
  font-size: 18px;
  font-weight: 500;
  padding: 5px 0px;
  cursor: pointer;
  color: black;
  text-decoration: none;
}
.blog_post_text a {
  text-decoration: none;
}
.blog_post_text h3:hover {
  color: red;
  transition: color 0.3s ease-in-out;
}
.blog_post_text h3:visited {
  color: black;
}
.blog_post_text p {
  font-size: 15px;
  color: var(--gray);
  padding: 5px 0px;
}

footer {
  background-color: #101014;
  padding: 20px 0px 100px 120px;
}
.footer_icons {
  border: 2px solid #1a1f2d;
  border-radius: 80%;
  margin: 5px;
  padding: 8px;
  display: flex;
  width: 16px;
  height: 16px;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}
.footer_icons img {
  filter: invert(1);
}
.footer_icons:hover {
  background-color: white;
}
.footer_icons img:hover {
  filter: invert(0);
}
/* Responsivnes for all devices */

/* Mobile devices */
@media (max-width: 600px) {
  header {
    padding: 15px 20px;
    background-color: white;
  }

  .logo {
    width: 180px;
    height: 24px;
  }

  .hero_img {
    height: 65vh;
    width: 100%;
    object-fit: cover;
    object-position: 45% center;
  }
  section {
    padding: 31px 20px;
  }
  .portfolio_div {
    display: flex;
    flex-direction: column;
  }
  .portfolio_title_div {
    width: 100%;
  }
  .section_heading {
    letter-spacing: 0.16em;
    font-weight: 300;
    font-size: 26px;
  }
  .portfolio_para_div {
    width: 100%;
    padding: 10px 0px;
  }
  .section_detail_title_para {
    width: 100%;
  }
  .section_detail_title_para h3 {
    font-size: 16px;
    font-weight: 500;
    padding: 10px 0px;
  }
  .section_detail_title_para p {
    font-size: 15px;
    color: var(--gray);
  }
  .blogs {
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    padding: 0px;
  }
  footer {
    background-color: #101014;
    padding: 20px 0px 100px 20px;
  }
}

/* Tablet (Medium Screens) */
@media (max-width: 1024px) {
  header {
    padding: 15px 20px;
    background-color: white;
  }
  .hero_img {
    height: 65vh; /* Adjusted height for mobile */
    width: 100%;
    object-fit: cover;
    object-position: 45% center;
  }
  section {
    padding: 31px 20px;
  }
}

/* Laptop (Large Screens) */
@media (min-width: 1025px) and (max-width: 1440px) {
  section {
    padding: 31px 100px;
  }
}

/* XL Screens (Desktops, Large Monitors) */
@media (min-width: 1441px) {
  section {
    padding: 31px 250px;
  }
  .section_heading {
    letter-spacing: 5px;
    font-weight: 300;
    font-size: 36px;
  }
  .portfolio_para_div p {
    padding: 10px 0px;
    font-size: 22px;
  }
  .section_detail_title_para h3 {
    font-size: 20px;
    font-weight: 500;
    padding: 10px 0px;
  }
  .section_detail_title_para p {
    font-size: 20px;
  }
}
