* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", serif;

  font-style: normal;
}

:root {
  --gray: #7a7a7a;
}

/* Header section */

header {
  padding: 35px 130px;
  background-color: white;
}

.logo {
  width: 200px;
  height: 27px;
}

/* Olive Langer Image */

.hero_img {
  width: 98.5vw;
  height: auto; /* Default height */
  object-fit: cover;
  object-position: center; /* Centers image */
  display: block;
}

/* Portfolio div */
.portfolio_div {
  margin: 0px 31px;
  padding: 31px 100px;
  display: flex;
}
.portfolio_title_div {
  width: 50%;
}
.portfolioTitle {
  letter-spacing: 5px;
  font-weight: 200;
  font-size: 28px;
  padding: 0px 17px;
}
.portfolio_para_div {
  width: 50%;
  padding: 0px 17px 17px 17px;
}
.portfolio_para_div p {
  margin-bottom: 20px;
  color: var(--gray);
  font-size: 15px;
}
.icons_div {
  display: flex;
}
.icons {
  border: 2px solid var(--gray);
  border-radius: 80%;
  margin: 5px;
  padding: 8px;
  display: flex;
  width: 16px;
  height: 16px;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.icons:hover {
  background-color: black;
}
.icons img:hover {
  filter: invert(1);
}
/* Responsivnes for all devices */

/* Mobile devices */
@media (max-width: 600px) {
  header {
    padding: 15px 20px;
    background-color: white;
  }

  .logo {
    width: 180px;
    height: 24px;
  }

  .hero_img {
    height: 65vh; /* Adjusted height for mobile */
    object-fit: cover;
    object-position: 45% center;
  }
}

/* Tablet (Medium Screens) */
@media (max-width: 1024px) {
  header {
    padding: 15px 20px;
    background-color: white;
  }
  .hero_img {
    height: 65vh; /* Adjusted height for mobile */
    object-fit: cover;
    object-position: 45% center;
  }
}

/* Laptop (Large Screens) */
@media (min-width: 1025px) and (max-width: 1440px) {
}

/* XL Screens (Desktops, Large Monitors) */
@media (min-width: 1441px) {
}
