* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", serif;
  font-style: normal;
}
:root {
  --gray: #7a7a7a;
}

section {
  display: flex;
  /* padding: 31px 100px 100px 100px; */
  margin: 0px 31px;
  justify-content: space-between;
  gap: 20px;
}
.section {
  padding-bottom: 100px;
}
.left_div {
  width: 50%;
}
.heading {
  font-size: 24px;
  font-weight: 400;
  padding-right: 20px;
  width: 80%;
}
#about_Tdx {
  margin-top: 0px;
}
.video {
  margin-top: 20px;
  width: 389px;
  height: 233px;
  aspect-ratio: 16/9;
}
.right_div {
  width: 50%;
}
.head_para h3 {
  font-size: 18px;
  font-weight: 400;
  margin: 20px 0px 5px 0px;
}
.head_para p {
  font-size: 16px;
  color: var(--gray);
}
.images_div h3 {
  font-size: 18px;
  font-weight: 400;
  margin: 20px 0px 5px 0px;
}
.images {
  margin: 15px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
.images img {
  width: 100%;
  height: 83px;
}

.brand_images {
  padding: 20px 0px;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
#brand_images_3_grid {
  padding: 20px 0px;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.brand_images img {
  width: 100%;
  height: auto;
}
/* Responsivnes for all devices */

/* Mobile devices */
@media (max-width: 320px) {
  section {
    flex-direction: column;
    margin: 0px 1px;
  }
  .section {
    padding: 31px 12px 50px 12px !important;
  }
  section {
    padding: 10px;
    margin: 0 auto;
  }
  .left_div,
  .right_div {
    width: 100%;
  }
  .images_div h3 {
    font-size: 16px;
    font-weight: 400;
    margin: 20px 0px 5px 0px;
  }
  .images {
    margin: 15px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .video {
    margin-top: 20px;
    width: 100%;
    height: 180px;
  }
  .images img {
    width: 100%; /* Make images fill the grid */
    height: auto; /* Keep aspect ratio */
    object-fit: cover; /* Prevent distortion */
  }
  .brand_images {
    width: 100%;
  }
  #brand_images_3_grid {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 321px) and (max-width: 568px) {
  section {
    flex-direction: column;
    margin: 0px 1px;
  }
  .section {
    padding: 31px 12px 50px 12px !important;
  }
  .left_div,
  .right_div {
    width: 100%;
  }
  .images_div h3 {
    font-size: 16px;
    font-weight: 400;
    margin: 20px 0px 5px 0px;
  }
  .video {
    margin-top: 20px;
    width: 100%;
    height: 180px;
  }
  .images {
    margin: 15px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .images img {
    width: 100%;
    height: 83px;
  }
  .brand_images {
    width: 100%;
  }
  #brand_images_3_grid {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Tablet (Medium Screens) */
@media (min-width: 568px) and (max-width: 768px) {
  .images img {
    width: 100%;
    height: 73px;
  }
  .video {
    margin-top: 20px;
    width: 100%;
    height: 183px;
  }
  .brand_images {
    width: 80%;
  }
}
