* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", serif;
  font-style: normal;
  box-sizing: border-box;
}
:root {
  --gray: #7a7a7a;
}

.section {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  padding: 78px 100px;
  margin-left: auto;
  margin-right: auto;
}
.left_div {
  width: 396px;
}
.spacer {
  width: 52px;
  height: 41px;
  padding: 17px;
}
.heading {
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0.16em;
  line-height: 1.25em;
}
#about_Tdx {
  margin-top: 0px;
}
.video {
  margin-top: 20px;
  width: 389px;
  height: 233px;
  aspect-ratio: 16/9;
}
.video-container {
  position: relative;

  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.play-button {
  position: absolute;
  color: white;
  font-size: 50px;
  padding: 10px 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease;
  text-shadow: 2px 2px 12px #7a7a7a;
}

.right_div {
  width: 483px;
}
.head_para h2 {
  font-size: 18px;
  font-weight: 500;
  margin: 20px 0px 5px 0px;
  letter-spacing: 0.03em;
  line-height: 1.25em;
}
.head_para p {
  font-size: 16px;
  color: var(--gray);
}
.images_div h2 {
  font-size: 18px;
  font-weight: 500;
  margin: 20px 0px 5px 0px;
}
.images {
  margin: 15px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 18px;
}
.images img {
  width: 100%;
  height: 72px;
}

.brand_images {
  padding: 20px 0px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px;
}
#brand_images_3_grid {
  padding: 20px 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.brand_images img {
  width: 100%;
  height: auto;
  cursor: pointer;
}
/* Responsivnes for all devices */

/* Mobile devices */
@media (max-width: 640px) {
  .section {
    padding: 17px;
    flex-direction: column;
  }

  .left_div,
  .right_div {
    width: 100%;
  }
  .heading {
    font-size: 22px;
    font-weight: 400;
    width: 100%;
    padding: 0px;
  }
  .images_div h2 {
    font-size: 16px;
    font-weight: 500;
    margin: 20px 0px 5px 0px;
  }
  .images {
    margin: 15px 0px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
  }
  .video {
    margin-top: 20px;
    width: 100%;
    height: 180px;
  }
  .images img {
    width: 100%; /* Make images fill the grid */
    height: auto; /* Keep aspect ratio */
    object-fit: cover; /* Prevent distortion */
  }
  .brand_images {
    width: 100%;
  }
  #brand_images_3_grid {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 641px) and (max-width: 768px) {
  .section {
    padding: 78px 36px;
  }

  .left_div,
  .right_div {
    width: 100%;
  }
  .heading {
    font-size: 22px;
    font-weight: 400;
    width: 100%;
  }
  .images_div h2 {
    font-size: 16px;
    font-weight: 500;
    margin: 20px 0px 5px 0px;
  }
  .video {
    margin-top: 20px;
    width: 100%;
    height: 180px;
  }
  .images {
    margin: 15px 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
  }
  .images img {
    width: 100%;
    height: 55px;
  }
  .brand_images {
    width: 100%;
  }
  #brand_images_3_grid {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
}
/* Tablet (Medium Screens) */
@media (min-width: 769px) and (max-width: 1024px) {
  .section {
    padding: 78px 64px;
  }

  .video {
    margin-top: 20px;
    width: 100%;
    height: 183px;
  }

  .heading {
    font-size: 22px;
    font-weight: 400;
    width: 80%;
  }
}
