* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", serif;
  font-style: normal;
}
:root {
  --gray: #7a7a7a;
}

.section {
  padding: 100px 100px;
}
.compnay_img {
  width: 100%;
  margin-bottom: 20px;
}
.main_content {
  margin: 0px 31px 31px 31px;
}
.content {
  display: flex;
  gap: 20px;
}
.text_detail {
  width: 50%;
  padding: 0px 20px;
}
.main_heading {
  font-size: 22px;
  margin-bottom: 15px;
  font-weight: 400;
  letter-spacing: 0.13em;
  line-height: 1.5em;
}
.head_para h3 {
  font-size: 18px;
  font-weight: 400;
  margin: 20px 0px 5px 0px;
}
.head_para p {
  font-size: 16px;
  color: var(--gray);
}
.head_para ul {
  padding-left: 30px;
}
.head_para ul li {
  margin: 8px 0px 20px 0px;
  color: var(--gray);
  font-size: 16px;
}
.images_div {
  width: 50%;
}
.images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 10px;
  gap: 10px;
}
#col_images_div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 10px;
  gap: 10px;
}

.thumnail {
  width: 100%;
  height: auto;
  cursor: pointer;
}
.videos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 10px;
  margin-top: 20px;
  gap: 10px;
}
#video_grid_4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 10px;
  gap: 10px;
}
.videothumnail_div {
  position: relative;
  width: 100%;
  height: 63px;
  cursor: pointer;
}

.playbtn {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  transform: translate(-50%, -50%);
}

/* Responsivnes for all devices */

/* Mobile devices */
@media (max-width: 568px) {
  .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .text_detail {
    width: 100%;
    padding: 0px 0px;
  }
  .images_div {
    width: 100%;
  }
  .images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
    gap: 10px;
    justify-items: center;
  }
  #col_images_div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
    gap: 10px;
  }

  .main_content {
    margin: 1px;
  }
  .thumnail {
    max-width: 100%; /* Prevents it from being too large */
    height: auto;
  }
  .videos {
    grid-template-columns: repeat(2, 1fr);
  }
  #video_grid_4 {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Tablet (Medium Screens) */
@media (max-width: 1024px) {
  .main_content {
    margin: 1px;
  }
  .thumnail {
    width: 100%;
    height: 63px;
  }
  .images {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 15px;
    column-gap: 10px;
  }
  .videos {
    grid-template-columns: repeat(2, 1fr);
  }
}
